<!doctype html>
<html>
    <head>
        <div>
        <a href="/blog">Main Blog Page</a> |  <a href="/newpost">Add a Blog Entry</a>
        </div>
        <div><center><h1>{{title}}</h1></center></div>
        <style>
        </style>
    </head>
<body>
        {% with messages = get_flashed_messages() %}
        <ul>
            {% for message in messages %}
                <li>{{message}}</li>
            {% endfor %}
        </ul>
    {% endwith %}

    {% block content %}
    {% endblock %}

</body>
</html>